@import '../../../styles/_colors.scss';
@import '../../../styles/style.scss';

.card {
  width: 30%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
  // padding-bottom: 10px;


  &-text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  &-info {
    text-align: center;
    
    margin: 50%;
    color: #FFF;
    padding: 5px;
    
  }}