@import '../../../styles/colors.scss';
@import '../../../styles/style.scss';

.header {
      
  .container {
    @include container;
  }
  &-list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-items:right;
    
    &-item {
      color: black;
      padding: 1% 2%;
      text-decoration: none;
      cursor: pointer;
      transition: 0.4s all;
      font-weight: bold;

      &:hover {
        color: white;
      }
    }
  }
}