@import '../../styles/_colors.scss';
@import '../../styles/style.scss';


.view {
  @include container;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;  
  justify-content: center;
  
 
  
  &-info {
    width: 50%;
    &-text {
      
      size:70px; 
      line-height: 100%;
      color: black;
    }
  }
    .btnbtn-success{
       background: white;
       border-radius: 50%;
       box-shadow: solid black;
      
     }
  
}