@import '../../../styles/_colors.scss';
@import '../../../styles/style.scss';

.footer {
  
  display: flex;
  align-content: center;
  color: black;
  text-align: center;
  margin: 10%;
  .container {
    @include container;
  }
}