@import '../../styles/_colors.scss';
@import '../../styles/style.scss';

@mixin buttons {
  padding: 0.8rem;
  text-align: center;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFF;
  width: 50%;
  transition: .4s all;
  margin:5%;
  &:hover {
    transform: scale(1.1);
    
  }
}

.add {
  @include container;
  background-color: white;
  width: 60%;
  height: 60%;
  color: black;
  background-color: rgba(252, 193, 32, 0.856);
  padding: 1rem rem 3rem 3rem;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;  
  transition: 0.3s ease-in-out;
  box-shadoW: #0e0d0d 0px 8px 24px;
 
 

  &-form {
    flex-direction: column;
    display: flex;
    width: 35%;
    justify-content:  center space-between;
    align-content: center;
    padding: 2%;
    margin-left: 35%;
    margin-top: 7%;
    
    
    &-group {
      display: flex;
      flex-direction: column;
     
      margin: 1%;
      &-status{
        display: flex;
        flex-direction: row;
        font-size: 15px;
        font-weight: bold;
    
      }
      &-prioridade{
        display: flex;
        flex-direction: row;
        
      }
      &-label {
        font-size: 15px;
        margin-top: 7%;
      }
      &-input {
        font-size: 18px;
        color: black;
        padding: .5rem;
        border-radius: 20px;
        outline: none;
                
      }
    }
    &-buttons {
      display: flex;
      justify-content: space-between;
      
      align-items: center;
      border-width: medium;
    
            
      &:hover {
        color: white;
      }


      &-btn-salvar {
        @include buttons;
        background: black;
      }

      &-btn-cancelar {
        @include buttons;
        background: black;
      }
    }}}
  